.footer {
     @apply
     mt-[78px]
     sm:mt-[250px];

          hr {
               @apply
               border-gray
               w-full;         

          }

          &__give{
               @apply
               relative
               flex
               items-center
               mb-[42px]
               sx:mb-0
               sx:w-[200px]
               sx:left-[71.5%]
               sx:top-[80px]
               sx:z-10
               sm:m-0
               sm:w-[396px]
               sm:left-[68.3%] 
               sm:top-[39px]
               sm:z-10;
          

               &-input{
                    @apply
                    w-full
                    text-[12px]
                    sm:text-[16px]
                    font-normal
                    border-b-[1px]
                    sm:pb-[13px]
                    mb-3 
                    pb-1;
               }

               &-arrow {
                    @apply
                    absolute 
                    w-[15px]
                    h-[7.25px]
                    right-[0.1%]                   
                    bottom-[60%]
                    sm:w-[26px]
                    sm:h-[12px]
                    sx:right-[1%]
                    sm:right-0
                    sm:mb-[9.16px]
                    sx:bottom-5                   
                    pointer-events-none;
               }
          }

          &__info {
               @apply
               mt-[60px]
               sx:mt-0
               sm:mt-[5px];

               &-colum {
                  @apply
                  grid 
                  gap-[8px] 
                  sx:grid-flow-col 
                  sx:justify-start
                  sx:gap-0
                  sx:space-x-[41px];
               }
          }

          &__shelly {
               @apply
               sx:flex
               sx:items-center
               sx:justify-between
               sx:flex-row-reverse
               sx:py-2
               sm:py-0;
          }
}