.footer {
     @apply
     pt-10
     sm:pt-0
     sm:mt-52
     sm:px-12;

          hr {
               @apply
               border-gray
               w-[96%] 
               mx-3 
               sm:w-[98%]
               md:w-[99%];         

          }


          &__give{
               @apply
               relative
               flex
               items-center
               sm:m-0
               sx:w-[36.8%]
               sx:left-[64%] 
               sx:top-[28px]
               sx:z-10;
          

               &-input{
                    @apply
                    w-full
                    xs:mr-3
                    sm:mr-2
                    md:mr-0
                    ml:mr-2
                    lg:mr-5
                    xl:mr-7
                    xxl:mr-11
                    md:text-lg
                    lg:text-xl                    
                    xxl:text-2xl
                    border-b-2 
                    mb-3 
                    pb-1;
               }

               &-arrow {
                    @apply
                    absolute 
                    w-5 
                    h-5
                    right-[1%]                   
                    bottom-[40%] 
                    xs:right-[5%]
                    sm:right-[2%]
                    ml:right-[1.7%]
                    md:right-[0.5%]
                    lg:right-[2.5%]
                    xl:right-[2.8%]
                    xs:bottom-5
                    xxl:right-[3.5%]                    
                    pointer-events-none;
               }
          }

          &__info {
               @apply
               mt-14
               sx:mt-0;

               &-colum {
                  @apply
                  grid 
                  gap-3 
                  sx:grid-flow-col 
                  sx:justify-start 
                  sx:space-x-4;
               }
          }

          &__shelly {
               @apply
               xs:flex
               xs:items-center
               xs:justify-between
               xs:flex-row-reverse
               xs:py-2;
          }
}