.footer {
     @apply
     pt-10
     sm:pt-0
     sm:mt-[250px];

          hr {
               @apply
               border-gray
               w-full;         

          }


          &__give{
               @apply
               relative
               flex
               items-center
               sm:m-0
               sx:w-[396px]
               sx:left-[68.3%] 
               sx:top-[39px]
               sx:z-10;
          

               &-input{
                    @apply
                    w-full
                    sm:text-[16px]
                    sm:font-normal
                    border-b-[1px]
                    sm:pb-[13px]
                    mb-3 
                    pb-1;
               }

               &-arrow {
                    @apply
                    absolute 
                    w-5 
                    h-5
                    right-[1%]                   
                    bottom-[40%]
                    sm:w-[26px]
                    sm:h-[12px]
                    sx:right-[5%]
                    sm:right-0
                    sm:mb-[9.16px]
                    sx:bottom-5                   
                    pointer-events-none;
               }
          }

          &__info {
               @apply
               mt-14
               sx:mt-0
               sm:mt-[5px];

               &-colum {
                  @apply
                  grid 
                  gap-3 
                  sx:grid-flow-col 
                  sx:justify-start
                  sx:gap-0
                  sx:space-x-[41px];
               }
          }

          &__shelly {
               @apply
               sx:flex
               sx:items-center
               sx:justify-between
               sx:flex-row-reverse
               sx:py-2
               sm:py-0;
          }
}