li {
     height: 100%
}

li.a {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     padding: 0.5rem 2.5rem;
     color: black;
     font-size: 1rem;
     font-weight: 400;
     cursor: pointer;
     transition: 0.5s all ease;

     &:hover{
          color:gray;
     }
}