.wrapper{
     @apply
     flex 
     flex-wrap 
     justify-between
     
     m-auto 
     w-full 
     h-full;

     &__menu{
          @apply
          flex 
          justify-between 
          list-none 
          h-full;

          &-item{
               @apply
               h-full;

               &-link{
                    font-family: $proyectfont;
                    @apply                    
                    justify-center 
                    items-center 
                    h-full 
                    px-8
                    font-normal
                    text-[16px]
                    cursor-pointer 
                    rounded-t-lg
                    inline-block
                    focus:underline
                    focus:underline-offset-[38px]
                    hover:border-black
                    focus:border-black;

               }
          }

     
     }
}