.navbar {
     width: 100%;
     height: 100%;



     &__wrapper{
          width: 100%;
          max-width: 1280px;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: auto;

     

          &-menu{
               position: absolute;
               top: 70px;
               width: 100%;
               height: 90vh;
               justify-content: center;
               flex-direction: column;
               align-items: center;
          


               @media (min-width: 1250px){
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    z-index: 30%; 
               }
     

          &-item{
               width: 100%;
               height: 70px;
               display: flex;
               justify-content: center;
               align-items: center;
          

               @media (min-width: 1250px){
                    height: 100%;
               }
           

               &-list{
                    width: 100%;

                    @media (min-width: 1250px){
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         height: 100%;
                         font-family: $proyectfont;
                         font-weight: normal;
                         cursor: pointer;
                              }
                         }
                }
          }
     }
}  