.wrapper{
     @apply
     flex 
     flex-wrap 
     justify-between 
     m-auto 
     w-full 
     h-full;

     &__menu{
          @apply
          flex 
          justify-between 
          list-none 
          h-full;

          &-item{
               @apply
               h-full;

               &-link{
                    font-family: $proyectfont;
                    @apply
                    flex 
                    justify-center 
                    items-center 
                    h-full 
                    py-6
                    px-8
                    font-normal
                    md:font-medium
                    md:text-lg
                    lg:text-xl
                    xl:text-2xl
                    cursor-pointer 
                    active:underline
               }
          }

     
     }
}