.wrapper{
     @apply
     flex 
     flex-wrap 
     justify-between
     w-full;
     

     &__menu{
          @apply
          flex 
          flex-row
          list-none 
          h-full;
          

          &-item{
               @apply
               h-full;

               &-link{
                    font-family: $proyectfont;
                    @apply                     
                    h-full
                    font-normal
                    text-[16px]
                    cursor-pointer 
                    rounded-t-lg
                    inline-block
                    focus:underline
                    focus:underline-offset-[30px]
                    hover:border-black
                    focus:border-black;

               }
          }

     
     }

     &__menuIcon{
          @apply
          flex
          flex-row
          space-x-[40px]
          list-none;

          &-link-icon{
               @apply
               items-center
               justify-center
               cursor-pointer
               focus:underline
               focus:underline-offset-[38px]
          }
     }
}