.product {
     @apply
     flex
     flex-row
     justify-between;

     &__view {
          @apply
          text-gold
          mt-[26px]
          mb-[15px]
          sm:mt-[73px]
          sm:mb-[47px]
          sm:text-[20px]
          sm:font-medium
          hover:text-black
          cursor-pointer;
     }

     &__grid{
        @apply
        grid
        grid-cols-2
        sm:grid-cols-3
        mb-5
        gap-2
        sm:gap-[54px];

        &-img{
          @apply
          w-full
          object-cover
          rounded-md
          sm:h-[380px]
          sm:w-[380px];
        }

        &-title{
          @apply
          font-normal
          text-[14px]
          py-2
          sm:mt-[24px]
          sm:text-[20px];
        }

        &-price{
          @apply
          text-gold
          my-1
          font-normal
          text-[12px]
          sm:text-[20px]
          sm:mt-[16px];
        }
     }
}