.product {
     @apply
     flex
     flex-grow
     justify-between;

     &__view {
          @apply
          text-gold 
          my-4 
          mr-3 
          text-xs 
          xs:mr-6 
          xs:text-lg
          sm:py-4
          lg:py-6
          xl:py-7
          sm:text-xl
          md:text-2xl
          ml:text-3xl
          lg:text-4xl
          xl:text-5xl
          hover:text-black 
          hover:font-bold;
     }

     &__grid{
        @apply
        grid
        grid-cols-2
        sm:grid-cols-3
        mb-5
        gap-2
        md:gap-14
        lg:gap-20
        xl:gap-24
        xs:mx-2;

        &-img{
          @apply
          w-full
          object-cover;
        }

        &-title{
          @apply
          font-medium
          py-2
          sm:py-4
          xs:text-xl
          sm:text-2xl
          md:text-3xl
          lg:text-4xl
          xl:text-5xl;
        }

        &-price{
          @apply
          text-gold
          my-1
          xs:text-lg
          sm:text-xl
          md:text-2xl
          lg:text-3xl
          xl:text-4xl
        }
     }
}