._swiper {
     width: 100%;
     height: 100%;
   }

   ._mySwiperS {
    width: 100%;
    height: 100%;
   }
   
   ._swiper-slide {
     text-align: center;
     font-size: 18px;
     background: #fff;
   
     /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
   }

   ._swiper-slide img {
     display: block;
     width: 100%;
     height: 136px;
     object-fit: cover;
     border-radius: 8px;

     @media (min-width: 768px) {
      height: 300px;
      border-radius: 10px;
     }

     @media (min-width: 1280px) {
      width: 380px;
      height: 380px;
      border-radius: 12px;

      &:hover{
        opacity: 0.3;
      }

      &:hover ~ span{
        display: flex;
        flex-direction: row;
        gap: 30.69px;
        pointer-events: none;
      }
     }
   }