.tabs-container{
     @apply
     w-full
     sm:text-dark-gray
     sm:border-b
     sm:border-gray
     sm:mt-[115px];

     &__list{
          @apply
          py-1
          sm:py-0
          sm:flex
          sm:flex-wrap
          sm:space-x-[96px];

          &-links{
               @apply
               text-base
               sm:text-[20px]
               sm:font-normal
               sm:focus:underline
               sm:focus:underline-offset-[34px]
               sm:inline-block
               sm:rounded-t-lg
               sm:mb-[20px]
               sm:focus:text-black
               sm:focus:border-dark-gray;
          }
     }
}