.textProducts {
     @apply
     px-3
     w-full
     h-full
     sm:absolute
     sm:left-[50%] 
     sm:w-[50%] 
     sm:px-14;

     &__product{
          @apply
          text-2xl
          font-medium
          py-3
          sm:font-medium;
     }

     &__price{
          @apply
          text-gold
          sm:text-lg
          sm:py-5;
     }

     &__rating{
          @apply
          hidden
          sm:flex
          sm:flex-row
          sm:items-center
          sm:space-x-5;
     }

     &__addCar{
          @apply
          w-full
          sm:flex
          sm:justify-start
          sm:space-x-8
          sm:py-10;

          &-counter{
               @apply
               hidden
               sm:bg-light-gray
               sm:flex
               sm:flex-row
               sm:rounded-md;
          }
     }
}